.add{
    width:100%;
}

.add > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.addstaff{
    font-size:15px;
    width:300px;
    list-style:none;
    padding:0;
}

.addcheck,.editcheck{
    width:100%;
}

.addcheck p,.editcheck p{
    line-height:30px;
    font-size:15px;
    letter-spacing:1px;
    margin-bottom:20px;
}

.done{
    margin-top:50px;
    width:100%;
    text-align:left;
}

.done p{
    letter-spacing:2px;
}

.done a{
    width:100px;
    background:black;
    letter-spacing:1px;
    text-decoration:none;
    color:white;
    display:block;
    padding:3px;
    text-align:center;
}

.done a:hover{
    opacity:0.7;
}

.edit{
    width:100%;
}

.edit > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.editstaff{
    font-size:15px;
    width:300px;
    list-style:none;
    padding:0;
}

.delete{
    width:100%;
}

.delete > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.deletestaff{
    font-size:15px;
    width:300px;
    list-style:none;
    padding:0;
}

.disp{
    width:100%;
}

.disp > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.dispstaff{
    font-size:15px;
    width:300px;
    list-style:none;
    padding:0;
    margin:30px 0 30px 0;
}

.dispstaff li{
    margin-bottom:20px;
}
.list{
    width:100%;
}

.list > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
    margin-left:10px;
}

.list a{
    width:200px;
    letter-spacing:3px;
    text-decoration:none;
    color:black;
    display:block;
    margin-left:10px;
}

.list a:hover{
    opacity:0.7;
}

.listbtn{
    width:80px;
    display:block;
    margin:10px 0 10px 10px;
}

.loginarea_list{
    width:300px;
    border:1px solid black;
    text-align:center;
    background:#EEEEEE;
    margin:10px 0 10px 10px;
}

.loginarea_list p{
    font-size:13px;
    font-weit:bold;
    letter-spacing:2px;
    margin:0;
}

.staff-list{
    width:400px;
}

.btn{
    width:100px;
    display:block;
    margin-top:10px;
}

.loginarea{
    width:300px;
    border:1px solid black;
    text-align:center;
    background:#EEEEEE;
}

.loginarea p{
    font-size:13px;
    font-weit:bold;
    letter-spacing:2px;
    margin:0;
}

@media screen and (max-width:559px) {
    /*.add,.addstaff,.addcheck,.editcheck,.done,.done a,.list,.list a,.listbtn,.loginarea_list,*/
    /*.edit,.delete,.disp,.dispstaff,.btn,.loginarea*/
    /*{*/
    /*    margin:0 auto;*/
    /*}*/
}
