
.toplist-loginarea{
    width:300px;
    border:1px solid black;
    text-align:center;
    background:#EEEEEE;
    margin:10px 30px 10px 30px;
}

.toplist-loginarea p{
    font-size:13px;
    font-weit:bold;
    letter-spacing:2px;
    margin:0;
}

.toplistmenu{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    margin:20px 30px 50px 30px;
    color:white;
    background:black;
}

.selectmenu{
    font-size:15px;
    letter-spacing:1px;
    width:300px;
    margin:0 auto;
    list-style:none;
    padding:0;
}

.selectmenu a{
    text-decoration:none;
    color:black;
}

.selectmenu a:hover{
    opacity:0.7;
}

.topmain{
    width:100%;
    display:flex;
}

.list{
    width:100%;
}

.list > p{
    letter-spacing:3px;
    font-size:25px;
    border-bottom:1px solid black;
    text-align:left;
    width:500px;
    color:black;
    margin-top:30px;
}

.list form{
    margin-left:10px;
}

.kinginfo{
    width:100%;
    margin:10px 10px 20px 10px;
}


.topmenu{
    width:200px;
    font-weit:bold;
    letter-spacing:2px;
    text-decoration:none;
    margin-left:20px;
    color:black;
    display:block;
}

.topmenu:hover{
    opacity:0.7;
}


.deletemenu{
    display:flex;
}


.delete{
    width:100%;
}

.delete > p{
    letter-spacing:3px;
    font-size:25px;
    border-bottom:1px solid black;
    text-align:left;
    width:600px;
    color:black;
}

.deleteinfo{
    font-size:15px;
    width:500px;
    list-style:none;
    margin-bottom:30px;
}

.deletedone-menu{
    display:flex;
}

.done{
    width:100%;
}

.donetitle{
    letter-spacing:3px;
    font-size:25px;
    border-bottom:1px solid black;
    text-align:left;
    width:600px;
    color:black;
}


.dispmenu{
    display:flex;
}

.disp{
    width:100%;
    
}

.disp > p{
    letter-spacing:3px;
    font-size:25px;
    border-bottom:1px solid black;
    text-align:left;
    width:600px;
    color:black;
}

.dispinfo{
    font-size:15px;
    width:600px;
    list-style:none;
    margin-bottom:30px;
}

.dispinfo li{
    margin-top:25px;
}

.btn{
    width:100px;
    display:block;
    margin-left:50px;
    margin-top:20px;
}

.loginarea{
    width:300px;
    border:1px solid black;
    text-align:center;
    background:#EEEEEE;
}

.loginarea p{
    font-size:13px;
    font-weit:bold;
    letter-spacing:2px;
    margin:0;
}






