.list{
    width:100%;
}

.list > p{
    margin:20px 0 10px 10px;
    letter-spacing:5px;
    border:1px solid black;
    padding:2px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.loginarea_list{
    width:300px;
    border:1px solid black;
    text-align:center;
    background:#EEEEEE;
    margin:10px 0 10px 10px;
}

.loginarea_list p{
    font-size:13px;
    font-weit:bold;
    letter-spacing:2px;
    margin:0;
}

.kinginfo{
    width:100%;
    margin:25px 10px 25px 10px;
}

.topmenu{
    width:200px;
    font-weit:bold;
    letter-spacing:2px;
    text-decoration:none;
    margin-left:20px;
    color:black;
    display:block;
}

.topmenu:hover{
    opacity:0.7;
}


.delete{
    width:100%;
}

.delete > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.deleteinfo{
    font-size:15px;
    width:300px;
    list-style:none;
    padding:0;
    margin-bottom:30px;
}

.done{
    margin-top:100px;
    margin-left:20px;
    width:100%;
}

.done p{
    letter-spacing:3px;
}

.done a{
    width:100px;
    background:black;
    letter-spacing:1px;
    text-decoration:none;
    color:white;
    display:block;
    padding:3px;
    text-align:center;
    margin-left:20px;
}

.done a:hover{
    opacity:0.7;
}

.disp{
    width:100%;
}

.disp > p{
    letter-spacing:2px;
    border:1px solid black;
    padding:1px;
    width:300px;
    text-align:center;
    color:white;
    background:black;
}

.dispinfo{
    font-size:15px;
    width:500px;
    list-style:none;
    padding:0;
    margin-bottom:30px;
}

.dispinfo li{
    margin-top:25px;
}

.btn{
    width:100px;
    display:block;
    margin-top:10px;
}

.loginarea{
    width:300px;
    border:1px solid black;
    text-align:center;
    background:#EEEEEE;
}

.loginarea p{
    font-size:13px;
    font-weit:bold;
    letter-spacing:2px;
    margin:0;
}
