body{
    margin:0;
    font-family:'Tahoma','Verdana';
}

header{
    display:flex;
    width:100%;
    padding:0 50px;
    background:black;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

.header-img{
    width:40%;
}

.header-img img{
    width:200px;
}

.header-menu{
    width:60%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.header-menu li{
    align-self:center;
    color:white;
    letter-spacing:2px;
    list-style:none;
}

.about-btn,.skills-btn,.works-btn1,.contact-btn{
    cursor:pointer;
}

.about-btn:hover{
    opacity:0.7;
}

.skills-btn:hover{
    opacity:0.7;
}

.works-btn1:hover{
    opacity:0.7;
}

.contact-btn:hover{
    opacity:0.7;
}


.header-icon{
    width:30%;
    display:flex;
}


.header-menu a{
    color:white;
    text-decoration:none;
}

.menu-btn{
    display:none;
}

.menu{
    display:none;
}

.menu a{
    text-decoration:none;
    color:black;
}




.parallax-window{
    min-height:800px;
    background:transparent;
}

.parallax-slider{
    top:0;
    left:0;
    
}

.animate-text{
    letter-spacing:4px;
    font-size:35px;
    color:#D9E5FF;
    opacity:0.6;
}

.top{
    width:100%;
    margin:0 auto;
    padding-top:280px;
    text-align:center;
    color:white;
}


.down{
    width:100%;
    margin:250px auto 0 auto;
    text-align:center;
    color:#D7EEFF;
    opacity:0.6;
}


.about-white{
    width:100%;
    height:1000px;
    text-align:center;
   
}

.about-white > h1{
    padding-top:100px;
    font-size:50px;
    color:black;
}

.about-white img{
    width:450px;
    display:block;
    margin:0 auto;
    margin-top:30px;
    transform:rotate(-5deg);
}

.about-profile{
    margin-top:30px;
}




.allblack{
    width:100%;
    height:900px;
    background:#111111;
    text-align:center;
}

.allblack > h1{
    margin:0;
    padding-top:100px;
    font-size:50px;
    color:white;
    text-align:center;
   
}

.skills-info{
    color:white;
    text-align:center;
    margin-top:50px;
}

.skills{
    width:500px;
    margin:80px auto;
    display:grid;
    justify-content:center;
    align-content:center;
    grid-template-columns:repeat(4,280px);
    /*grid-template-rows:repeat(2,250px);*/
    gap:50px 30px;
}

.skills p{
    
}

.skill-1{
    width:280px;
    height:280px;
    background:#FFFFCC;
}

.skill-2{
    width:280px;
    height:280px;
    background:#C2EEFF;
}

.skill-3{
    width:280px;
    height:280px;
    background:#CCFFCC;
}

.skill-4{
    width:280px;
    height:280px;
    background:#EAD9FF;
}



.white{
    width:100%;
    height:1200px;
    background:rgba( 255, 255, 255, 0.5);
    text-align:center;
    
}

.white > h1{
    margin:0;
    padding-top:100px;
    font-size:50px;
    color:black;
    text-align:center;
}

a.works-btn {
    display:block;
    margin:80px auto;
    width:200px;
    padding:5px 0;
    color: black;
    background:white;
    text-align:center;
    text-decoration: none;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1);
    transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1);
}

a.works-btn:after {
    content: '';
    position: absolute;
    -webkit-transition: all 250ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
    transition: all 250ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
    width: 0;
    right: 0%;
    bottom: 0;
    height: 100%;
    background: black;
    z-index: -1;
}

a.works-btn:hover, a.works-btn.hover {
    color: white;
}

a.works-btn:hover:after, a.works-btn.hover:after {
    width: 100%;
    right: auto;
    left: 0;
}





.last-allblack{
    
    width:100%;
    height:800px;
    background:#111111;
    
}

.last-allblack > h1{
    margin:0;
    padding-top:80px;
    font-size:50px;
    color:white;
    text-align:center;
}

.input-mail{
    color:white;
    margin:20px auto;
    text-align:center;
}

.form{
    width:100%;
    margin:0 auto;
    text-align:center;
    margin-top:50px;
}

input{
    display:block;
    margin:20px auto;
    width:250px;
    height:35px;
}

textarea{
    display:block;
    margin:20px auto;
    width:250px;
    height:150px;
}

.btn-info{
    display:block;
    margin:30px auto;
    width:150px;
    height:50px;
    border-radius:5px;
    color:black;
    background:#B1F9D0;
    border-color:#B1F9D0;
}

.btn-info:hover{
    opacity:0.8;
}


.last-menu{
    list-style:none;
    margin:50px 0 0 0;
    display:flex;
    justify-content:space-between;
    width:90%;
}

.top-btn{
    text-align:center;
    position:fixed;
    right:30px;
    bottom:50px;
}

.top-btn p{
    margin:0;
}

.top-btn a{
    display:block;
}

.last-menu a{
    text-decoration:none;
    color:white;
}




.last-allblack-coment{
    color:white;
    margin-top:5px;
    margin-left:20px;
    margin-bottom:0;
}



@media (min-width:500px) and (max-width:1200px) {
    
.allblack{
    height:1100px;
}

.skills{
    width:500px;
    margin:80px auto;
    display:grid;
    justify-content:center;
    align-content:center;
    grid-template-columns:repeat(2,280px);
    grid-template-rows:repeat(2,280px);
    gap:50px 30px;
}

}

@media (min-width:560px) and (max-width:1000px) {
header{
    display:flex;
    width:100%;
    padding:8px 0 8px 20px;
    background:black;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

.header-img{
    width:20%;
    text-align:center;
}

.header-img img{
    width:160px;
    
}

.header-menu{
    width:80%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.header-icon{
    width:30%;
    display:flex;
}

}

@media screen and (max-width:559px) {
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:0 5px;
    background:black;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}



.header-img img{
    width:150px;
    margin-left:15px;
}

.header-menu{
    display:none;
}


.menu-btn{
    position: fixed;
    top: 15px;
    right: 20px;
    display:block;
    z-index: 5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}

.menu{
  display:block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}




.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: black;
  box-sizing: border-box;
  font-size:30px;
  letter-spacing:2px;
}

.menu__item:hover{
    opacity:0.8;
}

/* アニメーション前のメニューの状態 */
.menu{
  transform-origin: top left;
  transform: rotateZ(-90deg);
  transition: all .3s ease;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: rotateZ(0deg);
}

.top{
    padding-left:10px;
    padding-light:10px;
}




.allblack{
    height:1700px;
}

.about-white{
    height:800px;
    
}

.about-white img{
    margin-top:50px;
    width:350px;
    transform:rotate(-5deg);
}

.skills-info{
    padding-left:10px;
    padding-light:10px
}

.skills{
    width:300px;
    margin:50px auto;
    display:grid;
    justify-content:center;
    align-content:center;
    grid-template-columns:repeat(1,280px);
    grid-template-rows:repeat(1,280px);
    gap:20px;
}

.skill-1{
    width:280px;
    height:280px;
    background:#FFFFCC;
}

.skill-2{
    width:280px;
    height:280px;
    background:#C2EEFF;
}

.skill-3{
    width:280px;
    height:280px;
    background:#CCFFCC;
}

.skill-4{
    width:280px;
    height:280px;
    background:#EAD9FF;
}

.input-mail p{
    padding-left:10px;
    padding-light:10px
}

.top-btn{
    position:fixed;
    right:20px;
    bottom:40px;
}

}